body {
    margin-left: 2em;
    margin-bottom: 2em;
    margin-right: 2em;
}
hr.menu-spacer {
    margin-top: 2px;
    margin-bottom: 2px;
}
.hBox {
    display: flex;
    flex-flow: row;
}
.hBox .centered {
    flex: none;
}
.hBox .spacer {
    flex: auto;
}
